/*!
global > color
------------------------------
*/
:root {
    --color-primary: #c5ab5f;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #666666;
    --color-focus: #578fef;
    --color-border: #dddddd;
    --color-label-html-css: #aca56c;
    --color-label-web-production: #ac6ca0;
    --color-label-wordpress: #6c9dac;
    --color-label-web-design: #d0a85e;
    --color-label-javascript: #6cac7b;
}
